Debug/
Reports/
*Backup*\.zip
*_UpgradeResults*\.html
*\.pref
Thumbs.db
*.sln
*.rxsln.pref
*.csproj.rxuser
.idea/
~$*.xlsx
~$*.xls
PC_*/*.csv
PC_*/*.xls
PC_*/*.xlsx
SP_*/*.csv
SP_*/*.xls
SP_*/*.xlsx
APP_*/*.csv
APP_*/*.xls
APP_*/*.xlsx